
  
.form-label {
  font-size: 0.9rem;
  color: #333;
}

.btn-outline-secondary:hover {
  background-color: #f1f1f1;
}

.enviado, .enviado td{
  background-color: #e2f4ec;
  color: #161515;
}
.noenviado, .noenviado td {
  background-color: #fed7d4;
}